@import url("https://fonts.cdnfonts.com/css/gill-sans-mt-condensed");
@import url("https://fonts.googleapis.com/css2?family=Cabin&family=PT+Sans&display=swap");

body {
  font-family: "Gill Sans MT", sans-serif !important;
  background: linear-gradient(
    191deg,
    rgba(53, 19, 153, 1) 15%,
    rgba(73, 11, 109, 1) 50%,
    rgba(99, 8, 81, 1) 100%
  ) no-repeat !important;
}

#resumebtn {
  font-size: 24px;
  width: 100% !important;
  height: auto !important;
}

a {
  text-decoration: none;
}

.navbar li b {
  color: #928787;
}

.navbar li b:hover {
  color: #fff8f8;
}

.navbar li b:focus {
  color: #fff8f8;
}

.nav-item button {
  border: none;
  background: transparent;
}

.nav-item button:focus {
  color: #fff8f8;
}

.box {
  height: 100vh;
  color: white;
}

/* About Me Page */

.navbar ul li {
  padding: 10px 30px;
  color: green !important;
}

.navbar ul li:hover {
  font-size: 18px;
  color: #fff8f8;
}

.ell {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #4e0955 0%,
    rgba(174, 22, 190, 0.452294) 20.09%,
    rgba(218, 28, 237, 0.205208) 20.1%,
    rgba(214, 28, 233, 0.225799) 30%,
    rgba(117, 14, 127, 0.778537) 45.62%,
    rgba(182, 23, 198, 0.411113) 47.71%,
    rgba(209, 27, 227, 0.191831) 62.81%,
    rgba(78, 9, 85, 0) 100%
  );
  height: 20px;
  width: 300px;
  margin: auto;
  border-radius: 50px 50px 0px 50px !important;
  margin-top: -10px;
}

.formbg {
  background: rgb(53, 19, 153);
  background: linear-gradient(
    191deg,
    rgba(53, 19, 153, 1) 15%,
    rgba(73, 11, 109, 1) 50%,
    rgba(99, 8, 81, 1) 100%
  );
  /* border-radius: 10px; */
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  /* border: 2px solid #820D6E; */
  padding: 60px !important;
  width: 80% !important;
  /* box-shadow: 0px 1px 1px 1px black; */
}

.formbg input,
textarea {
  background-color: transparent !important;
  color: white !important;
}

.subbtn {
  background: rgb(53, 19, 153);
  background: linear-gradient(
    191deg,
    rgba(53, 19, 153, 1) 0%,
    rgba(73, 11, 109, 1) 35%,
    rgba(99, 8, 81, 1) 100%
  );
  border: 2px solid #820d6e;
  border-radius: 30px;
  color: white !important;
  text-align: center;
  margin-left: -15px !important;
}

a.nav-link {
  color: rgb(149, 144, 144);
}

.navbar {
  margin-top: 35px !important;
  padding-bottom: 50px;
}

.navbar a {
  color: white;
}

.div-b {
  display: flex;
  align-items: center;
}

.div-b-a {
  width: 60%;
}

.div-b-b {
  width: 40%;
}

.div-b-a-a {
  font-size: 35px;
  padding-top: 40px;
  padding-left: 80px;
  padding-bottom: 30px;
}

.div-a {
  padding-left: 20px;
  padding-top: 30px;
}

.div-a h1 {
  font-size: 65px;
  padding-left: 30px;
}

.div-b-a-b {
  padding-left: 60px;
}

button.div-b-a-b-but {
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20px;
  background: #65095e;
  border: 1px solid #fffdfa;
  color: white;
  width: 250px;
  height: 50px;
}

.div-c {
  text-align: center;
  font-size: 40px;
  padding-bottom: 10px;
}

.div-c b {
  font-size: 47px;
}

.div-d {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.div-d p {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 22px 20px 25px 20px;
  font-size: 40px;
  width: 400px;
  margin-left: 60px;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(240, 170, 56, 0.989562) 0%,
    rgba(240, 170, 56, 0.81437) 0.01%,
    rgba(240, 170, 56, 0.506937) 2.4%,
    rgba(240, 170, 56, 0.342182) 2.41%,
    rgba(240, 170, 56, 0) 64.9%
  );
  border: 2px solid #820d6e;
  color: white;
}

#sapiens {
  height: auto;
  width: 600px;
  /* width: 100%; */
  /* height: auto; */
  /* max-width: 380px; */
  /* height: 380px; */
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
}

@media (max-width: 825px) {
  #sapiens {
    height: 250px;
    width: 250px;
  }
}

@media (max-width: 825px) {
  .div-d {
    margin-top: 30px;
  }
}

@media (max-width: 660px) {
  #sapiens {
    visibility: hidden;
  }

  .div-b-a-a {
    width: 480px;
  }

  .div-d-a {
    padding: 10px 5px 10px 5px;
    font-size: 15px;
    margin-right: 5px;
  }

  .div-d-b {
    padding: 10px 5px 10px 5px;
    font-size: 15px;
    margin-left: 5px;
  }
}

@media (max-width: 480px) {
  .div-b-a-a {
    width: 350px;
  }

  .div-d {
    margin-top: 10px;
  }

  .div-b-a-a {
    padding-top: 15px;
    font-size: 25px;
  }

  .div-c {
    font-size: 25px;
  }
}

/* Project */
.cart {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.card-use {
  width: 20%;
  margin: auto;
  padding-left: 50px;
}

.p-use {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

#card-res {
  margin-left: 30px;
}

button.div-b-a-b-res {
  background: rgb(53, 19, 153) !important;
  background: linear-gradient(
    191deg,
    rgba(53, 19, 153, 1) 0%,
    rgba(73, 11, 109, 1) 35%,
    rgba(99, 8, 81, 1) 100%
  ) !important;
  border-radius: 22px;
  margin-left: 20px;
  margin-bottom: 15px;
  padding: 5px 5px 5px 5px;
  width: 150px;
  color: white;
  border: 1px solid #d9d9d9;
}

/* .div-b-a-b-but resbtn a{
  padding:10px 10px 10px 10px;
} */

#card-p {
  border-radius: 22px;
  border: 2px solid #7b767a;
  width: 300px;
  height: 450px;
  padding: 10px;
  background: rgb(53, 19, 153) !important;
  background: linear-gradient(
    179.97deg,
    #440b68 0.02%,
    #440b68 0.03%,
    rgba(68, 11, 104, 0.705692) 0.04%,
    rgba(68, 11, 104, 0.705875) 25.55%,
    rgba(68, 11, 104, 0.706892) 25.56%,
    rgba(68, 11, 104, 0.707807) 30.29%,
    rgba(68, 11, 104, 0.714932) 39.99%,
    rgba(68, 11, 104, 0.741214) 50%,
    rgba(68, 11, 104, 0.770833) 63.01%,
    rgba(68, 11, 104, 0.269756) 87.90%,
    rgba(68, 11, 104, 0.206279) 90.92%,
    rgba(68, 11, 104, 0) 99.98%
  ) !important;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-bg {
  background: linear-gradient(180deg, #9f8484 0%, rgba(146, 135, 135, 0) 100%);
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  padding: 8px;
  width: 290px;
  height: 410px;
  border-radius: 22px;
  margin-top: -150px;
}

.card-body h5 {
  font-size: 25px;
}

.button.div-b-a-b-res {
  color: white;
}

.card-body p {
  font-size: 20px;
  margin-top: -10px;
}

#frame {
  width: 200px;
  height: 200px;
  /* width: 100%; */
  max-width: 250px !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
}

.vl {
  border-left: 2px solid white;
  height: 500px;
}

.resbtn {
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 25px !important;
}

#image {
  width: 350px;
  height: 250px;
  padding-bottom: 40px;
  margin-bottom: 50px;
}

#image:hover{
  width: 370px;
  height: 270px;
  transition: 0.3s;
}

#imgg {
  width: 250px;
  height: 275px;
  padding-bottom: 25px;
  margin-bottom: 50px;
  /* padding-left: 25px; */
  margin-left: 23px;
}

#imgg:hover{
  width: 270px;
  height: 295px;
  transition: 0.3s;
}

.card-work {
  width: 80%;
  display: flex;
  justify-content: center;
  padding-left: 100px;
  padding-top: 50px;
}

.card-work-1 {
  width: 35%;
}

.card-work-3 {
  width: 35%;
}

.card-work-2 {
  width: 30%;
}



.btn-card {
  padding-top: 37px;
  display: flex;
  gap: 10px;
}

.icon {
  height: 22px;
  width: 22px;
}

.card-use {
  display: flex;
  align-items: center;
}

@media (max-width: 940px) {
  .p-use {
    justify-content: space-evenly;
  }

  .vl {
    visibility: hidden;
  }

  .project-1 {
    padding-left: 50px;
  }

  .project-2 {
    padding-right: 20px;
  }

  @media (max-width: 770px) {
    .cart {
      display: inline;
    }

    .card-use {
      justify-content: center;
    }

    .p-use {
      justify-content: space-between;
    }
  }

  @media (max-width: 580px) {
    #image {
      width: 200px;
    }

    .p-use {
      justify-content: space-between;
    }

    .project-2 {
      margin-right: 20px;
    }

    vl {
      height: 0px;
      width: 0px;
    }
  }

  @media (max-width: 475px) {
    .p-use {
      margin-top: 30px;
      padding-left: 50px;
      justify-content: center;
    }

    #img {
      padding-bottom: 30px;
      width: 50px;
    }

    .vl {
      height: 0px;
      width: 0px;
    }
  }
}

@media (max-width: 435px) {
  #image {
    width: 180px;
  }
}

/* skills */

.div0 {
  display: flex;
  align-items: flex-start;
}

.div1 {
  position: relative;
  width: 20%;
  margin-top: 200px;
  padding-left: 50px;
  align-self: flex-start;
}

.div2 {
  width: 90%;
  margin-left: 300px;
}

.skill-card {
  display: inline-block;
  width: 20%;
  height: 100%;
}

.skill-set-top {
  display: inline-block;
  width: 80%;
  align-items: center;
}

.div2-1 {
  display: inline-block;
  width: 80%;
  justify-content: space-around;
}

.skill {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.skill-show {
  width: 300px;
  height: 40px;
  border: 1px solid white;
  justify-content: center;
  border-radius: 16px;
  padding: 5px 5px 5px 5px;
  margin: 15px 10px 15px 10px;
  text-align: center;
  font-size: 20px;
}

.edu p {
  padding-top: 25px;
}

.div2-2 {
  padding-top: 60px;
}

.div2-2-2 {
  padding-right: 250px;
}

.div2-2-2 h1 {
  font-size: 45px;
}

.book {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: "Cabin", sans-serif;
  font-family: "PT Sans", sans-serif;
}
.book img {
  width: 5%;
}

@media (max-width: 1100px) {
  .div2-2 {
    padding-top: 0px;
    padding-left: 30px;
  }
}

@media (max-width: 740px) {
  .div2-2-2 h1 {
    font-size: 23px;
    /* 24 */
  }

  .div2-2-2 h2 {
    font-size: 21px;
    /* 22 */
  }

  .div2-2-2 h4 {
    font-size: 17px;
    /* 18 */
  }

  .div2-2-2 h6 {
    font-size: 15px;
    /* 16 */
  }

  .skill-show {
    font-size: 10px;
  }
}

@media (max-width: 575px) {
  .div0 {
    display: inline;
  }

  .div1 {
    margin-left: 70px;
  }
}

@media (max-width: 575px) {
  .div2-1 {
    padding-right: 70px;
  }
}

/* Experience */
.div-top {
  display: flex;
}

.left-div {
  width: 20%;
  margin-top: 200px;
  padding-left: 50px;
  padding-bottom: 120px;
}

.right-div {
  width: 80%;
  margin-left: 150px;
}

.exp {
  margin: 10px 10px 0px 50px;
  font-size: 23px;
}

.exp li {
  padding-left: 20px;
}

.exp p {
  font-size: 17px;
}

@media (max-width: 900px) {
  .exp {
    margin-left: 70px;
    font-size: 12px;
  }
}

@media (max-width: 580px) {
  .div-top {
    display: inline;
  }

  .exp {
    font-size: 15px;
    width: 400px;
    padding-right: 100px;
    margin-left: -30px;
  }

  .left-div {
    padding-right: 100px;
    margin-left: 30px;
  }

  .right-div {
    justify-content: start;
    padding-top: 20px;
  }

  .box {
    height: 200vh;
  }
}

/* Blogs */
.div-p {
  display: flex;
}

.div-c-left {
  width: 20%;
  margin: auto;
  padding-left: 50px;
  padding-bottom: 100px;
}

.div-c-right {
  width: 80%;
}

.b-w {
  display: flex;
  justify-content: space-evenly;
  height: 50%;
  margin-bottom: -10px;
}

.b-i {
  display: flex;
  justify-content: space-evenly;
  height: 50%;
  margin-bottom: -20px;
}

.card-1 {
  width: 100px;
}

#img {
  height: 130px;
}

#card {
  width: 350px;
  height: 290px;
  /* width: 100%; */
  /* max-width: 400px; */
  margin: 10px;
  border-radius: 22px;
  background: linear-gradient(
    180deg,
    rgba(240, 170, 56, 0.989562) 0%,
    rgba(240, 170, 56, 0.81437) 0.01%,
    rgba(240, 170, 56, 0.506937) 2.4%,
    rgba(240, 170, 56, 0.342182) 2.41%,
    rgba(240, 170, 56, 0) 64.9%
  );
  /* border: 5px solid white; */
}

#card-title {
  font-size: 15px;
}

#card-text {
  font-size: 13px;
}

#continue {
  font-size: 15px;
}

#img {
  border-radius: 22px;
}

#wr {
  padding-left: 100px;
  font-size: 29px;
}

@media (max-width: 1100px) {
  .b-w {
    width: 800px;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
  }

  .b-i {
    width: 800px;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
  }

  #card {
    width: 250px;
  }
}

@media (max-width: 975px) {
  #card {
    width: 200px;
    margin-right: 80px;
  }

  .b-i {
    justify-content: center;
    padding-right: 80px;
  }

  .b-w {
    justify-content: center;
    padding-right: 80px;
  }

  #wr {
    text-align: center;
    margin-right: 250px;
  }
}

@media (max-width: 750px) {
  .div-p {
    display: inline;
  }

  .box {
    height: 140vh;
  }

  #wr {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .b-w {
    display: inline;
  }

  .b-i {
    display: inline;
  }

  .div-c-left {
    margin-left: 20px;
  }

  .div-c-right {
    margin-top: 15px;
  }

  #card {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
  }

  #wr {
    margin-right: -20px;
  }

  #img {
    width: 190px;
  }

  .box {
    height: 250vh;
  }
}

/* contact me page */

.divmain {
  display: flex;
}

.divl {
  width: 20%;
  padding-left: 50px;
  margin-top: 300px;
}

.divr {
  width: 80%;
  padding-top: 60px;
  /* box-shadow: 2px 10px 50px 2px ; */
}

.form-control {
  width: 80%;
  border-radius: 22px;
  border: 1px solid #d9d9d9;
  margin-left: 30px;
}

.hey {
  padding-bottom: 50px;
  align-self: flex-start;
  margin-left: -120px;
  margin-top: -60px;
}

.col-sm-2 col-form-label {
  width: 30%;
}

#size {
  width: 200px;
  font-size: 20px;
  padding-left: 50px;
}

#inputnumber {
  width: 70%;
  padding-left: -30px;
}

#change {
  font-size: 30px;
}

#id-sign {
  stroke: white;
  margin-right: 10px;
}

.col-sm-10 {
  padding-bottom: 20px;
  width: 680px;
  margin-left: -70px;
  padding-left: 30px;
}

.form-group row {
  padding-right: -50px;
}

#exampleFormControlTextarea1 {
  width: 500px;
  height: 130px;
}

.divr form {
  width: 600px;
  margin: 0px 0px 0px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divr h5 {
  padding-left: 100px;
  padding-top: 30px;
}

#submit {
  margin: 10px;
  width: 175px;
  height: 50px;
  font-size: 29px;
  padding-bottom: 50px;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
}

@media (max-width: 760px) {
  .divr form {
    width: 500px;
    padding: 50px 50px 0px 150px;
  }

  .divr h5 {
    padding-left: 150px;
    padding-top: 30px;
  }

  #submit {
    margin: 10px;
    width: 150px;
    margin-left: 80px;
  }
}

@media (max-width: 590px) {
  .divmain {
    display: inline;
  }

  .divr form {
    width: 400px;
    padding: 50px 0px 0px 20px;
  }

  .divl {
    padding-left: 100px;
  }

  .divr h5 {
    padding-left: 80px;
    padding-top: 30px;
  }
}

@media (max-width: 430px) {
  .divr form {
    width: 350px;
    padding: 50px 0px 0px 20px;
  }

  .divl {
    padding-left: 80px;
  }
}

@media (max-width: 380px) {
  .divr form {
    width: 260px;
    padding: 50px 0px 0px 10px;
  }

  .divl {
    padding-left: 30px;
  }

  #submit {
    margin: 10px;
    width: 150px;
    margin-left: 50px;
  }

  .divr h5 {
    padding-left: 20px;
    padding-top: 30px;
  }
}
